body {
  width: 900px;
  margin: auto;
}

header {
  display: inline;
}

#pizza {
  background-image: url("./media/choco-pizza.png");
  width: 900px;
  height: 600px;
}

#ingredients {
  background-image: url("./media/list-bg.png");
  width: 899px;
  height: 305px;
}
